<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
	<ion-title>User Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="userDetail$ | async as user">
    <ion-card-content>
      <p>Name: {{user.first_name}} {{user.last_name}}</p>
	  <p>Email: {{user.email}}</p>
	  <ion-item>
        <img [src]="user.avatar">
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
