<ion-header>
  <ion-toolbar>
    <ion-title>userCreate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item line="full">
      <ion-label>FirstName</ion-label>
      <ion-input formControlName="Fname" type="text" required ></ion-input>
    </ion-item>
   
    <ion-item line="full">
      <ion-label>LastName</ion-label>
      <ion-input formControlName="Lname" type="text" required ></ion-input>
    </ion-item>

    <ion-item line="full">
      <ion-label>email</ion-label>
      <ion-input formControlName="mail" type="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-button expand="full" (click)="f.click()">
        <ion-icon lazy="true" slot="start" name="image"></ion-icon>
        <ion-label slot="end">Profile pic</ion-label>
      </ion-button>
        <input class="ion-hide" #f type="file" (change)="loadImageFromDevice($event)" id="file-input"
          accept="image/png, image/jpeg">

   </ion-item>
    
    <ion-button type="submit" >Create</ion-button>
  </form>
</ion-content>
