<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #loginForm="ngForm">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Adresse email</ion-label>
        <ion-input id="email-input" name="email" type="email"
          [(ngModel)]="email"
          #emailInput=ngModel
          required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input id="password-input" name="password" type="password"
         [(ngModel)]="password"
         #passwordInput=ngModel
         required
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-button id="loginButton" expand="full" (click)="login()">
          Se connecter
        </ion-button>
      </ion-item>
    </ion-list>
  </form>

</ion-content>
